.team_img {
  height: 180px;
}

.face-logo {
  margin: 0px 10px 0px 10px;
}
.team-member li a:hover {
  background-color: orange !important;
}

.nav-item a:hover {
  background-color: orange;
  border-radius: 10px;
}

#team-row {
  justify-content: center;
}
